<h2>Admin Panel</h2>

<ul>
    <li><a asp-action="Users">Users</a></li>
    <li><a asp-action="Events">Events</a></li>
    <li><a asp-action="Categories">Categories</a></li>
    <li><a asp-action="Locations">Locations</a></li>
</ul>